<br>
<%= link_to 'Novo', new_user_path, class: 'btn btn-primary' %>

<table class="container table table-light">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <% @users.each do |u| %>
    <tr>
      <td><%= u.nome %></td>
      <td><%= u.sobrenome %></td>
      <td>
        <% u.images.each do |im| %>
        <% end %>
        <%= link_to 'Visualizar', user_path(u.id), class: 'btn btn-outline-primary' %>
      </td>
    </tr>
  <% end %>
</table>

